[mysqld]
#skip-grant-tables
default-time-zone="+03:00"
innodb_file_per_table=1
innodb_flush_log_at_trx_commit=1
sync_binlog=0
innodb_buffer_pool_size = 4096M
innodb_log_buffer_size  = 300M
innodb_flush_method = O_DIRECT
innodb_strict_mode = 0
transaction-isolation=READ-COMMITTED
binlog_cache_size=0
sql_mode=""

server-id               = 1
log_bin			= ""
expire_logs_days        = 1


